:root {
  --header-height: 40px;
}

#map {
  height: calc(100% - var(--header-height));
  width: 100%;
}

.header {
  position: relative;
  height: var(--header-height);
  width: 100%;
  top: 0px;
  vertical-align: middle;
  background-color: black;
  z-index: 10000;
}

.signinbtn {
  height: 100%;
  background-color: black;
  color: white !important;
  cursor: hand;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0px;
  vertical-align: middle;
  background-color: rgb(24, 24, 24);
  /* opacity: 80%; */
  z-index: 10000;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

.footer img:last-of-type {
  margin-left: auto;
}

#warning_input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 170px;
  z-index: 10001;
  background-color: white;
  display: none;
}

#warning_input_regist {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 270px;
  z-index: 10001;
  background-color: white;
  display: none;
}

.category-btn{
  width:100px;
}

.badge-style{
  width:100px;
}

